.planet-card {
  width: 270px;
  height: 200px;
  padding: 20px;
  background: #000000;
  border: 3px solid #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
  color: #ffe81f;
  font-family: "Inter", sans-serif;
}

.planet-info {
  display: flex;
  flex-direction: column;
  color: #ffe81f;
}

.info-item {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}

.info-item span:first-child {
  font-weight: bold;
}

.info-item span:last-child {
  color: #ffffff;
}

.resident-button {
  background: #ffe81f;
  border: 2px solid #ffe81f;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.resident-button:hover {
  background: #000;
  color: #ffe81f;
}
